{% extends 'base.html.twig' %}

{% block title %}Crédits{% endblock %}

{% block body %}
<div class="container">
    <h2>Contact</h2>
    <blockquote style="border-color:#A2135F;">
        <p>
            <a href="mailto:contact-smartflore@tela-botanica.org">contact-smartflore@tela-botanica.org</a>
        </p>
    </blockquote>
    <h2>Crédits</h2>
    <blockquote>
        <a href="https://www.tela-botanica.org/projets/smart-flore/" target="_blank" class="thumbnail">
            <img src="{{ asset('images/smartflore_logo.png') }}" alt="smart'flore">
        </a>
        <a href="http://www.tela-botanica.org" target="_blank" class="thumbnail">
            <img src="{{ asset('images/tela-botanica.jpg') }}" alt="tela botanica">
        </a>
        <a href="http://www.agropolis-fondation.fr" target="_blank" class="thumbnail">
            <img src="{{ asset('images/agropolis-fondation.jpg') }}" alt="agropolis fondation">
        </a>
        <a href="http://www.inria.fr" target="_blank" class="thumbnail">
            <img src="{{ asset('images/inria.jpg') }}" alt="inria" />
        </a>
        <a href="http://amap.cirad.fr" target="_blank" class="thumbnail">
            <img src="{{ asset('images/umr-amap.jpg') }}" alt="umr amap">
        </a>
        <a href="http://www.plantnet-project.org" target="_blank" class="thumbnail">
            <img src="{{ asset('images/plantnet.jpg') }}" alt="plantnet">
        </a>
        <a href="http://www.cirad.fr" target="_blank" class="thumbnail">
            <img src="{{ asset('images/cirad.jpg') }}" alt="cirad">
        </a>
        <a href="http://www.cnrs.fr" target="_blank" class="thumbnail">
            <img src="{{ asset('images/cnrs.jpg') }}" alt="cnrs">
        </a>
        <a href="http://www.inra.fr" target="_blank" class="thumbnail">
            <img src="{{ asset('images/inra.jpg') }}" alt="inra">
        </a>
        <a href="http://www.ird.fr" target="_blank" class="thumbnail">
            <img src="{{ asset('images/ird.jpg') }}" alt="ird">
        </a>
        <a href="http://www.umontpellier.fr" target="_blank" class="thumbnail">
            <img src="{{ asset('images/um.jpg') }}" alt="um">
        </a>
        <a href="#" class="thumbnail">
            <img src="{{ asset('images/pia.jpg') }}" alt="pia">
        </a>
    </blockquote>
</div>
{% endblock %}

